html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

#main-nav{
    background-color: transparent;
}

section{
    height: 100vh;
}
#home{
    background: url(images/image\ 2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-col{
    margin-top: 25%;
}

i{
    color: black;
}

img{
    filter: brightness(1);
    
}

.img-hero{
    height: auto;
}

.spacing{
    margin-top: 10%;
}

.card-icon{
    font-size: 4rem;
}

.block{
    height: 0.2rem;
    width: 10rem;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    opacity: 0.5;
}

